/* ================
    Root Variables
   ================ */

:root {
    --app-width: 90vw;
    
    --menu-icon-width: 3em;
    --menu-icon-thickness: 0.3em;
    --menu-icon-padding-vertical: 0.875;
    --menu-icon-padding-horizontal: 0.4167;

    --credit-icon-width: 1.25em;
    --credit-icon-thickness: 0.2em;

    --color-banners: #331E36;
    --color-banner-text: white;
    --color-text: #0D0A0B;
    --color-primary: #7FB7BE;
    --color-secondary: #FED766;
    --color-accent: #0E6BA8;

    --color-success: #3F7D20;
    --color-error: #C1292E;
}

/* ====================
    Common Formatting
   ==================== */

*, *::before, *::after {
    box-sizing: border-box;
}

html, 
body {
    margin: 0 auto;
    padding: 0;
    width: var(--app-width);

    background-color: var(--color-primary);
    color: var(--color-text);

    font-family: "Source Sans 3", sans-serif;
}

/* ========
    Header
   ======== */

/* ==== Hamburger Menu - Base Attributes ==== */

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    position: fixed;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;

    width: 100%;
    max-width: 100%;
    z-index: 3;

    background-color: var(--color-banners);
    color: var(--color-banner-text);
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header li button {
    display: block;
    padding: 0.625em 0;
    width: 100vw;

    font-size: 2rem;
    text-transform: uppercase;

    border: none;

    background-color: var(--color-banners);
    color: var(--color-banner-text);
}

.header img {
    margin: auto 0.5em;
    font-size: 2rem;
    text-decoration: none;
    width: 1.4475em;
    height: 1.4475em;
    filter: invert(100%);
}

.header h3 {
    margin: auto auto auto 0.5em;
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height: .2s ease-out;
}

/* ==== Hamburger Menu - Default State ==== */

.header .menu-btn {
    display: none;
}

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding:
        calc(var(--menu-icon-width) * var(--menu-icon-padding-vertical))
        calc(var(--menu-icon-width) * var(--menu-icon-padding-horizontal));
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: var(--color-banner-text);
    display: block;
    height: var(--menu-icon-thickness);
    position: relative;
    transition: background .2s ease-out;
    width: var(--menu-icon-width);
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: var(--color-banner-text);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: calc(var(--menu-icon-width) / 3);
}

.header .menu-icon .navicon:after {
    top: calc((var(--menu-icon-width) / 3) * -1);
}

/* ==== Hamburger Menu - Dropped-Down State ==== */

.header .menu {
    transition: max-height .2s ease-out;
}

.header .menu-btn:checked ~ .menu {
    max-height: 20em;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* ==== Hamburger Menu - Disabled (Landscape) State ==== */

@media screen and (orientation: Landscape) {

    .header .menu-icon {
        display: none;
    }

    .header .menu {
        display: flex;
        flex-direction: row;

        max-height: 100%;
    }

    .header li button {
        padding-left: 1em;
        padding-right: 1em;

        width: 100%;

        background-color: var(--color-banners);
        color: var(--color-banner-text);

        border: none;
    }

    .header li button:hover {
        text-decoration: underline;
    }

}

/* ========================
    Container & Content
   ========================*/

.section-content {
    display: none;

    margin-top: calc(var(--menu-icon-width) * 2);
}

.relapse-counter {
    display: flex;
    flex-direction: row;
    align-items: center;

    /* border: 1px solid red; */
}

.relapse-indicator {
    width: 2rem;
    height: 2rem;
    /* Edit these to respond to line height */

    margin-left: 0.5em; 
}

/* ==== Latest Splash Post ==== */

#hero-post {
    background-size: cover;

    width: var(--app-width);
    height: 400px;

    overflow: hidden;
}

#hero-post img {
    object-fit: cover;
    max-width: 100%;
}

#hero-post h3, #hero-post h4, #hero-post p {
    font-size: 175%;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* ==== Selected Post ==== */

#selected-post img {
    object-fit: cover;
    max-width: 100%;
}

/* ==== About Me ==== */

#avatar {
    width: 10em;
    height: 10em;

    object-fit: cover;
}

/* ==== Recent Post Lists ==== */

.blog-reel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    grid-gap: 1em;

    list-style-type: none;

    padding: 0;
}

/* .blog-post {
    width: auto;

    border: 1px solid green;
} */

.blog-reel li img {
    object-fit: cover;
    max-width: 100%;
}

/* ========
    Footer 
   ======== */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 100%;

    background-color: var(--color-banners);
    color: var(--color-banner-text);
}

footer h3 {
    margin: 2.3125rem auto 0.1875rem auto;
}

footer h4 {
    margin: 0 auto 2.3125rem auto;

    font-weight: normal;
}

/* ==== Credit Menu - Base Attributes ==== */

   .credit-div {
    display: none; /* Set to flex to enable */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: fit-content;
    z-index: 3;
}

.credit-div ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.credit-div .menu {
    clear: both;
    max-height: 0;
    transition: max-height: .2s ease-out;
}

/* ==== Credit Menu - Default State ==== */

.credit-div .credit-btn {
    display: none;
}

.credit-div .credit-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding:
        calc((var(--credit-icon-width) * var(--menu-icon-padding-vertical) + 0.5em))
        calc(var(--credit-icon-width) * var(--menu-icon-padding-horizontal));
    position: relative;
    user-select: none;
}

.credit-div .credit-icon .navicon {
    background: transparent;
    display: block;
    height: var(--credit-icon-thickness);
    position: relative;
    transition: background .2s ease-out;
    width: var(--credit-icon-width);
}

.credit-div .credit-icon .navicon:before,
.credit-div .credit-icon .navicon:after {
    background: var(--color-banner-text);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.credit-div .credit-icon .navicon:before {
    transform: translateY(-0.1em) rotate(-30deg);
}

.credit-div .credit-icon .navicon:after {
    transform: translateY(0.1em) rotate(30deg);
}

.credit-div .credit-icon .navicon:before {
    top: calc(var(--credit-icon-width) / 3);
}

.credit-div .credit-icon .navicon:after {
    top: calc((var(--credit-icon-width) / 3) * -1);
}

   /* ==== Credit Menu - Dropped-Down State ==== */

.credit-div .menu {
    transition: max-height .2s ease-out;
}

.credit-div .credit-btn:checked ~ .menu {
    max-height: 20em;
}

.credit-div .credit-btn:checked ~ .credit-icon .navicon {
    background: transparent;
}

.credit-div .credit-btn:checked ~ .credit-icon .navicon:before {
    transform: translateY(0.3em) rotate(30deg);
}

.credit-div .credit-btn:checked ~ .credit-icon .navicon:after {
    transform: translateY(-0.3em) rotate(-30deg);
}

.credit-div .credit-btn:checked ~ .credit-icon:not(.steps) .navicon:before,
.credit-div .credit-btn:checked ~ .credit-icon:not(.steps) .navicon:after {
    top: 0;
}